// Body
$body-bg: #212529;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$form-check-input-focus-border: #ffc107;
$form-check-input-focus-box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
$form-check-input-checked-color: #ffc107;
$form-check-input-checked-bg-color: #ffc107;
