// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Bootstrap-icons
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

.header-menu{
    padding-left: 1rem;
}

.header-item:hover, .dropdown-item:hover, .footer-item:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.click-btn:hover{
    color: #212529 !important;
}

.setHoverColor:hover{
    color: #ffc107 !important;
}

h1 {
    font-size: 24px; /* Установите желаемый размер шрифта для надписи "CyberAdmin" */
}

#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.full-height {
    height: 100vh; /* 100% высоты экрана */
    object-fit: cover; /* чтобы изображение заполняло всю высоту, обрезая при необходимости */
}

.larger-icon {
    font-size: 3rem; /* Увеличьте размер по своему усмотрению */
}

#scrollToTopButton {
    transition: transform 0.2s ease-in-out;

    &:hover {
        animation: bounce 0.5s infinite; // Зацикливаем анимацию "bounce" бесконечно при наведении
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0); // Начальная и конечная позиции (нет смещения)
        }
        50% {
            transform: translateY(-10px); // Смещение вверх на 5 пикселей на полпути
        }
    }
}

.form-control:focus {
    border-color: #ffc107; /* Измените цвет рамки при фокусе */
    box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
}

.btn-icon {
    display: inline-block;
    padding: 0;
    background: none;
    margin-right: 1rem;
}

.btn-icon i {
    font-size: 1.5em;/* Размер иконки */
    display: block;
    width: 1.5em; /* Ширина иконки */
    height: 1.5em; /* Высота иконки */
}

.modal-success-animation, .modal-fail-animation {
    position: relative;
    display: inline-block;
    width: 7.5rem; /* Размер контейнера */
    height: 7.5rem; /* Размер контейнера */
    justify-content: center;
}

.modal-success-animation::before {
    content: "";
    position: absolute;
    width: 7rem; /* Размер круга */
    height: 7rem; /* Размер круга */
    border: 3px dashed green;
    border-radius: 50%; /* Делаем форму круглой */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрируем круг */
    animation: runBorder 2s linear infinite;
}

.modal-fail-animation::before {
    content: "";
    position: absolute;
    width: 7rem; /* Размер круга */
    height: 7rem; /* Размер круга */
    border: 3px dashed red;
    border-radius: 50%; /* Делаем форму круглой */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрируем круг */
    animation: runBorder 2s linear infinite;
}

.modal-success-animation i, .modal-fail-animation i {
    font-size: 5rem;
}

@keyframes runBorder {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.sale-methodRadio{
    margin: 1rem auto;
}
