.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-table-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  border-style: solid;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-table-cell-9 {
  border-style: solid;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
}

.u-section-1 .u-table-cell-11 {
  border-style: solid;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
}

.u-section-1 .u-table-cell-15 {
  border-style: solid;
}

.u-section-1 .u-table-cell-16 {
  border-style: solid;
}

.u-section-1 .u-table-cell-17 {
  border-style: solid;
}

.u-section-1 .u-table-cell-18 {
  border-style: solid;
}

.u-section-1 .u-table-cell-19 {
  border-style: solid;
}

.u-section-1 .u-table-cell-20 {
  border-style: solid;
}

.u-block-9852-27 {
  background-image: none;
}

.u-block-9852-33 {
  height: 47px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -273px 114px 0 auto;
  padding: 23px 17px 24px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -72px 2px 0 auto;
  padding: 23px 24px 24px 23px;
}

.u-section-1 .u-icon-1 {
  width: 35px;
  height: 35px;
  margin: -116px 14px 282px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}