 .u-section-1 {
  background-image: url("../images/61718501-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-list-1 {
  width: 145px;
  margin: 27px auto 0 10px;
}

.u-section-1 .u-repeater-1 {
  min-height: 450px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-icon-1 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: -54px -7px 0 83px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-icon-2 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: -54px -7px 0 83px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-icon-3 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: -54px -7px 0 83px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-icon-4 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: -54px -7px 0 83px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-icon-5 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: -54px -7px 0 83px;
}

.u-section-1 .u-list-2 {
  width: 155px;
  margin: -449px auto 0 266px;
}

.u-section-1 .u-repeater-2 {
  min-height: 450px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-1 .u-icon-6 {
  width: 70px;
  height: 70px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: -54px -7px 0 83px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1 .u-icon-7 {
  width: 70px;
  height: 70px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: -54px -7px 0 83px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-1 .u-icon-8 {
  width: 70px;
  height: 70px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  margin: -54px -7px 0 83px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-1 .u-icon-9 {
  width: 70px;
  height: 70px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-17 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-18 {
  font-size: 0.875rem;
  margin: -54px -7px 0 83px;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 0;
}

.u-section-1 .u-icon-10 {
  width: 70px;
  height: 70px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-20 {
  font-size: 0.875rem;
  margin: -54px -7px 0 83px;
}

.u-section-1 .u-list-3 {
  width: 145px;
  margin: -450px 468px 0 auto;
}

.u-section-1 .u-repeater-3 {
  min-height: 450px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 0;
}

.u-section-1 .u-icon-11 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-21 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-22 {
  font-size: 0.875rem;
  margin: -54px -9px 0 83px;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 0;
}

.u-section-1 .u-icon-12 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-23 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-24 {
  font-size: 0.875rem;
  margin: -54px -9px 0 83px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 0;
}

.u-section-1 .u-icon-13 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-25 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-26 {
  font-size: 0.875rem;
  margin: -54px -9px 0 83px;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px 0;
}

.u-section-1 .u-icon-14 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-27 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-28 {
  font-size: 0.875rem;
  margin: -54px -9px 0 83px;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 0;
}

.u-section-1 .u-icon-15 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-29 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-30 {
  font-size: 0.875rem;
  margin: -54px -9px 0 83px;
}

.u-section-1 .u-list-4 {
  width: 156px;
  margin: -450px 300px 0 auto;
}

.u-section-1 .u-repeater-4 {
  min-height: 450px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px 0;
}

.u-section-1 .u-icon-16 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-31 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-32 {
  font-size: 0.875rem;
  margin: -54px 0 0 83px;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px 0;
}

.u-section-1 .u-icon-17 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-33 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-34 {
  font-size: 0.875rem;
  margin: -54px 0 0 83px;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px 0;
}

.u-section-1 .u-icon-18 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-35 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-36 {
  font-size: 0.875rem;
  margin: -54px 0 0 83px;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px 0;
}

.u-section-1 .u-icon-19 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-37 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-38 {
  font-size: 0.875rem;
  margin: -54px 0 0 83px;
}

.u-section-1 .u-container-layout-20 {
  padding: 10px 0;
}

.u-section-1 .u-icon-20 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-39 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-40 {
  font-size: 0.875rem;
  margin: -54px 0 0 83px;
}

.u-section-1 .u-list-5 {
  width: 145px;
  margin: -450px 11px 0 auto;
}

.u-section-1 .u-repeater-5 {
  min-height: 450px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-21 {
  padding: 10px 0;
}

.u-section-1 .u-icon-21 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-41 {
  font-size: 1.5rem;
  width: 50px;
  margin: -54px auto 0;
}

.u-section-1 .u-text-42 {
  font-size: 0.875rem;
  margin: -54px -13px 0 83px;
}

.u-section-1 .u-container-layout-22 {
  padding: 10px 0;
}

.u-section-1 .u-icon-22 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-43 {
  font-size: 1.5rem;
  width: 50px;
  margin: -54px auto 0;
}

.u-section-1 .u-text-44 {
  font-size: 0.875rem;
  margin: -54px -13px 0 83px;
}

.u-section-1 .u-container-layout-23 {
  padding: 10px 0;
}

.u-section-1 .u-icon-23 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-45 {
  font-size: 1.5rem;
  width: 50px;
  margin: -54px auto 0;
}

.u-section-1 .u-text-46 {
  font-size: 0.875rem;
  margin: -54px -13px 0 83px;
}

.u-section-1 .u-container-layout-24 {
  padding: 10px 0;
}

.u-section-1 .u-icon-24 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-47 {
  font-size: 1.5rem;
  width: 50px;
  margin: -54px auto 0;
}

.u-section-1 .u-text-48 {
  font-size: 0.875rem;
  margin: -54px -13px 0 83px;
}

.u-section-1 .u-container-layout-25 {
  padding: 10px 0;
}

.u-section-1 .u-icon-25 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-49 {
  font-size: 1.5rem;
  width: 50px;
  margin: -54px auto 0;
}

.u-section-1 .u-text-50 {
  font-size: 0.875rem;
  margin: -54px -13px 0 83px;
}

.u-section-1 .u-list-6 {
  width: 580px;
  margin: -1px auto 0 155px;
}

.u-section-1 .u-repeater-6 {
  min-height: 90px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-26 {
  padding: 10px 0;
}

.u-section-1 .u-icon-26 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-51 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-52 {
  font-size: 0.875rem;
  margin: -54px -8px 0 83px;
}

.u-section-1 .u-container-layout-27 {
  padding: 10px 0;
}

.u-section-1 .u-icon-27 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-53 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-54 {
  font-size: 0.875rem;
  margin: -54px -8px 0 83px;
}

.u-section-1 .u-container-layout-28 {
  padding: 10px 0;
}

.u-section-1 .u-icon-28 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-55 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-56 {
  font-size: 0.875rem;
  margin: -54px -8px 0 83px;
}

.u-section-1 .u-container-layout-29 {
  padding: 10px 0;
}

.u-section-1 .u-icon-29 {
  width: 70px;
  height: 70px;
  margin: 0 65px 0 10px;
  padding: 5px 3px 5px 5px;
}

.u-section-1 .u-text-57 {
  font-size: 1.5rem;
  margin: -54px 56px 0 39px;
}

.u-section-1 .u-text-58 {
  font-size: 0.875rem;
  margin: -54px -8px 0 83px;
}

.u-section-1 .u-icon-30 {
  width: 65px;
  height: 65px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 160px auto 0 16px;
  padding: 0;
}

.u-section-1 .u-icon-31 {
  width: 65px;
  height: 65px;
  margin: -65px 16px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-32 {
  width: 65px;
  height: 65px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -65px auto 60px 90px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-32 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-6 {
    margin-left: 140px;
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: 50% 50%;
    min-height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
  }

  .u-section-1 .u-list-3 {
    margin-right: 395px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-23 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-25 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-27 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-29 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-31 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-33 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-35 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-37 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-39 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-41 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-43 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-45 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-47 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-49 {
    font-size: 1rem;
  }

  .u-section-1 .u-list-6 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-51 {
    font-size: 1rem;
    margin-right: 36px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-53 {
    font-size: 1rem;
    margin-right: 36px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-55 {
    font-size: 1rem;
    margin-right: 36px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-57 {
    font-size: 1rem;
    margin-right: 36px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 16px;
    margin-left: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-2 {
    margin-left: 185px;
  }

  .u-section-1 .u-list-3 {
    margin-right: 195px;
  }

  .u-section-1 .u-list-4 {
    margin-right: 184px;
  }

  .u-section-1 .u-list-6 {
    width: 340px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-52 {
    margin-left: 0;
  }

  .u-section-1 .u-text-53 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-54 {
    margin-left: 0;
  }

  .u-section-1 .u-text-55 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-56 {
    margin-left: 0;
  }

  .u-section-1 .u-text-57 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-58 {
    margin-left: 0;
  }
}

.u-section-1 .u-icon-6,
.u-section-1 .u-icon-6:before,
.u-section-1 .u-icon-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-icon-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-30,
.u-section-1 .u-icon-30:before,
.u-section-1 .u-icon-30 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-icon-30 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-30 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-32,
.u-section-1 .u-icon-32:before,
.u-section-1 .u-icon-32 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-icon-32 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-32 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}
